/* @keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
} */

.articlesection, .Image-section{
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.show {
  opacity: 1;
  transform: translate(0);
}

.navbar-brand:focus {
  color: #fff;
}
.navbar-brand:hover {
  color: #fff;
}
.nav-link:hover {
  color: #8538AE;
}
.nav-link:focus {
  color: #8538AE;
}