@media only screen and (max-width: 480px) {
    .Image-section img {
        width: 100%;
        left: -25px;
        bottom: -50px;
    }

    .articlesection {
        flex-direction: column;
        align-items: start !important;
        padding: 0 0 50px 0;
    }

    .col {
        width: -webkit-fill-available;
        padding: 0;
    }

    .col p {
        letter-spacing: 0px;
    }

    #navbarNav {
        background: rgb(111 110 110 / 25%);
        backdrop-filter: blur(3px);
    }

    .navbar {
        padding: 0 0 30px 0;
    }

    #article-buttons {
        flex-wrap: wrap;
        width: -webkit-fill-available;
    }

    input[type="button"] {
        width: -webkit-fill-available;
    }

    .info {
        flex-direction: column;
    }

    .about-us-texts h2 {
        font-size: calc(1.425rem + 2.1vw);
    }

    .about-us-texts {
        margin-left: 0;
        width: unset;
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .Image-section img {
        width: 100%;
        left: -25px;
        bottom: -50px;
    }

    .articlesection {
        flex-direction: column;
        align-items: start !important;
        padding: 0 0 50px 0;
    }

    .col {
        width: -webkit-fill-available;
    }

    .col p {
        letter-spacing: 0px;
    }

    .container {
        max-width: unset;
    }

    #article-buttons {
        flex-wrap: wrap;
        width: -webkit-fill-available;
    }

    input[type="button"] {
        width: -webkit-fill-available;
    }

    .info {
        flex-direction: column;
    }

    .about-us-texts {
        margin-left: 0;
        width: unset;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .Image-section img {
        width: 100%;
        left: -25px;
        bottom: -50px;
    }

    .col {
        width: -webkit-fill-available;
    }

    #article-buttons {
        /* flex-wrap: wrap; */
        width: -webkit-fill-available;
    }

    .articlesection {
        flex-direction: column;
        align-items: start !important;
        padding: 0 0 50px 0;
    }

    li.nav-item {
        margin: 0 8px;
    }

    .container {
        max-width: unset;
    }

    input[type="button"] {
        width: -webkit-fill-available;
    }

    .navbar {
        padding: 0 0 30px 0;
    }

    .about-us-texts h2 {
        font-size: calc(1.425rem + 1.2vw);
    }

    .about-us-texts {
        margin-left: 0;
        width: unset;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .Image-section img {
        width: 100%;
        left: -5px;
        bottom: -60px;
    }

    li.nav-item {
        margin: 0 6px;
    }
}