@media (max-width: 576px) {
  body {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }

  .title-contents {
    margin: 0;
    flex-direction: column;
    gap: 10px;
    padding: 7px;
  }

  .content,
  img {
    size: 10px;
  }

  .close-btn {
    top: 35px;
    font-size: 25px;
  }

  .articlesection {
    width: auto;
  }

  .image-flex-container {
    flex-wrap: wrap;
  }

  .img-main {
    max-width: 390px;
    border-radius: 20px;
  }

  .img-sub {
    border-radius: 20px;
  }

  .img-overlay-box {
    width: 75%;
    bottom: -43%;
  }

  button.btn-learn-more {
    width: 100%;
  }

  .card {
    flex: 0 0 100%;
  }

  /* .card-img-wrap {
    height: 160px;
    margin-top: -50px;
  } */
}

@media (max-width: 768px) {
  body {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }

  .title-contents {
    margin: auto;
    /* flex-direction: column; */
  }

  /* .close-btn {
    top: 30px;
    font-size: 30px;
    right: 50px;
  } */
  .filter {
    background: #1010100f;
    backdrop-filter: blur(6px);
  }

  .container {
    width: -webkit-fill-available;
    padding: 1rem 12px 0 12px;
  }

  .navbar {
    grid-template-columns: 1fr auto;
    width: 100%;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #101010;
    text-align: center;
    z-index: 1;
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  #hero-section {
    flex-wrap: wrap;
    gap: 3rem;
  }

  .Image-section img {
    width: 100%;
    left: unset;
    bottom: -3.9px;
  }

  .Image-section {
    width: unset;
  }

  article {
    padding: 2rem 0 0 0;
  }

  .articlesection {
    width: auto;
  }

  .articlesection h1 {
    line-height: unset;
  }

  .articlesection p {
    width: 50%;
  }

  #article-buttons {
    flex-wrap: wrap;
    width: -webkit-fill-available;
  }

  input[type="button"] {
    width: -webkit-fill-available;
    font-size: 1.4rem;
    flex: auto 1 1;
  }

  .our-infos {
    flex-wrap: wrap;
  }

  .infos {
    flex: 1 1 auto;
  }
}

@media (max-width: 1024px) {
  .title-contents {
    margin: auto;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* gap: 15px; */
  }

  #hero-section {
    flex-direction: column;
  }

  /* .card {
    flex: 0 0 calc((100% - 28px) / 2);
  } */
}